<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Database connection settings -->
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/twiliodb?useSSL=false</property>
        <property name="connection.username">root</property>
        <property name="connection.password">root</property>

                <!-- HikariCP settings -->
        <property name="hibernate.connection.provider_class">org.hibernate.hikaricp.internal.HikariCPConnectionProvider</property>
        <property name="hibernate.hikari.minimumIdle">5</property>
        <property name="hibernate.hikari.maximumPoolSize">20</property>
        <property name="hibernate.hikari.idleTimeout">300000</property>
        <property name="hibernate.hikari.connectionTimeout">20000</property>
        <property name="hibernate.hikari.maxLifetime">1800000</property>

        

        <!-- SQL Dialect -->
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        
        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>
        
        <!-- Update the database schema on startup -->
        <property name="hbm2ddl.auto">update</property>
        
        <!-- Register annotated classes -->
        <mapping class="twilioWebApp.model.User"/>
        <mapping class="twilioWebApp.model.TwilioAccount"/>
        <mapping class="twilioWebApp.model.VerificationCode"/>
        <mapping class="twilioWebApp.model.OutboundMsg"/>
        <mapping class="twilioWebApp.model.InboundMsg"/>
    </session-factory>
</hibernate-configuration>
